.navlink {
    color: #2494b6;
    margin-left: 15px;
    font-size: 17px;
    cursor: pointer;
}

.active {
    color: #835519;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.navlink:hover {
    color: #196a83;
    margin-left: 15px;
    font-size: 17px;
    cursor: pointer;
}